#img1 {
width: 100px;
height:100px;  
}
#testimages{
    width:400px;
    height:600px;
}
#mobilnetmodel{
  float:right;
}
#googlelens{
  float:left;
}
li{
  float:left
}
#footer{
    line-height:3;
    bottom:0;
    position:fixed;
    width:100%;
    background:grey;
    color:white;
    text-align:center;
  }
.test_image_and_result{
    background-color:grey;
    padding:0px;
  }
h1{
    color:red;
}